@page
@model AzureB2CUI.Pages.CallAdminApiModel
@{
    ViewData["Title"] = "CallAdminApi";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Call API</h1>
<h6>gets the admin data from the Azure AD protected Web API</h6>

<pre>@Model.DataFromApi</pre>

