@page
@model AzureB2CUI.Pages.CallAdminApiModel
@{
    ViewData["Title"] = "CallAdminApi";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Call API</h1>
<h6>Gets the admin data from the Azure B2C protected Web API</h6>
<h6>Only internal Azure AD uses will have access to this API</h6>
<pre>@Model.DataFromApi</pre>

