@page
@model AzureB2CUI.Pages.CallUserApiModel
@{
    ViewData["Title"] = "CallApi";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Call User API</h1>
<h6>gets the user data from the Azure B2C protected Web API</h6>

<pre>@Model.DataFromApi</pre>

