@page
@model RegisterUsersAzureB2C.Pages.CreateAzureB2CUserModel
@{
    ViewData["Title"] = "Create User";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Create new Azure B2C user</h1>

<form method="post">
    <div asp-validation-summary="All"></div>
    <div class="row mb-4">
        <div class="col">
            <div class="form-outline">
                <label class="form-label" asp-validation-for="User.UserPrincipalName">UserPrincipalName</label>
                <input type="email" asp-for="User.UserPrincipalName" class="form-control" />
                <span asp-validation-for="User.UserPrincipalName" class="text-danger"></span>
            </div>
        </div>
        <div class="col">
            <div class="form-outline">
                <label class="form-label" asp-validation-for="User.DisplayName">DisplayName</label>
                <input type="text" asp-for="User.DisplayName" class="form-control" />
                <span asp-validation-for="User.DisplayName" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col">
            <div class="form-outline">
                <label class="form-label" asp-validation-for="User.BirthDate">Birth Date</label>
                <input type="date" asp-for="User.BirthDate" class="form-control" />
                <span asp-validation-for="User.BirthDate" class="text-danger"></span>
            </div>
        </div>
        <div class="col">
            <div class="form-outline">
                <label class="form-label" asp-validation-for="User.Surname">Surname</label>
                <input type="text" asp-for="User.Surname" class="form-control" />
                <span asp-validation-for="User.Surname" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col">
            <div class="form-outline">
                <label class="form-label" asp-validation-for="User.GivenName">Given Name</label>
                <input type="text" asp-for="User.GivenName" class="form-control" />
                <span asp-validation-for="User.GivenName" class="text-danger"></span>
            </div>
        </div>
        <div class="col">
            <div class="form-outline">
                <label class="form-label" asp-validation-for="User.PreferredLanguage">PreferredLanguage</label>
                <select asp-for="User.PreferredLanguage" class="form-control">
                    <option value="de">de</option>
                    <option value="fr">fr</option>
                    <option value="it">it</option>
                    <option value="en">en</option>
                </select>
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-primary btn-block mb-4">Create</button>
</form>



