@page
@model RegisterUsersAzureB2C.Pages.CreateFederatedUserModel
@{
    ViewData["Title"] = "Create User";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Create new Federated Azure B2C user</h1>


